<?xml version="1.1" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ydev.convolution2018"
    android:versionCode="11"
    android:versionName="1.9"
    >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>


    <application
        android:icon="@drawable/convolutionlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/convolutionlogo"
        android:supportsRtl="true"
        android:theme="@style/MyTheme2">
        <activity
            android:name="com.ydev.convolution2018.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.ydev.convolution2018.Notification_Handler_Services.MyFirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.ydev.convolution2018.Notification_Handler_Services.MyFirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.ydev.convolution2018.Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme2" />
        <activity
            android:name="com.ydev.convolution2018.RegistrationDashboard.StudentList"
            android:label="@string/title_activity_student_list"
            android:theme="@style/MyTheme2"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="43e17840994aeeba455eb3a80a8f7a5f537f5406" />
    </application>

</manifest>